<html>
    <head>
        <style>
            .back{
                background: linear-gradient(27deg, rgba(255,0,0,1) 0%, rgba(129,0,0,1) 100%);
                text-align: center;
            }
            .divBack{
                padding-left: 25%;
                padding-right: 25%;
                color: white;
                font-size: 21px;
            }
        </style>
        <title>Positive</title>
    </head>
    <body class="back">
        <div class="divBack" align="center">
            <h1><u>Report is Positive.</u></h1>
            <img src="static\UPLOAD_FOLDER\new_upload.png" alt="your uploaded image" width="256" height="256">
            <h2>Contact your local hospital immediately.</h2>
            <ul style="list-style-type: square;" align="left" >
                <li><b>DON'T PANIC</b></li>
                <li>Keep yourself isolated for 2-3 weeks even from your family.</li>
                <li>Try not to meet anyone during this period.</li>
                <li>Try keeping thermomter and pulse oximeter.</li>
                <li>Drink juice, water and other healthy drinks.</li>
                <li>Do Yoga.</li>
                <li>Be Positive.</li>
            </ul>
        </div>
    </body>
</html>